<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a data scientist and machine learning developer with 3+ 𝘆𝗲𝗮𝗿𝘀 of experience in building statistical/predictive machine learning models, NLP, analyzing noisy datasets and designing and developing decision support tools and services. I have expertise with R, SQL, Python.

Some selected tools I worked with:

.</p>
      </div>
      <div class="col-lg-4">
        ✅ Machine Learning Algorithms (PCA, K-means, Random Forest, XGboost, Logistic Regression, SVM and etc).

</p>

        ✅ Statistical Modelling (Hypothesis Testing, Mixture Mixed Models, General Additive Models, Ordinal Regression, EM, MCMC, ARIMA etc).

</p>

        ✅ Data Visualizations (seaborn,tableau, matplotlib).

</p>

        ✅ Natural Language Processing (NLP - topics clustering, text generation, sentiment classification) and text analysis.

</p>

        ✅ Deep Learning (Neural Networks, Convolutional Neural Networks, Recurrent Neural Networks).

</p>

        ✅ Deep Learning Frameworks (Tensorflow, Flux.jl </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
